# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\university\computer architecture\lab3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
