a {
	color: #000 !important;
	text-decoration: none
}

input {
	background-color: #F0FFFF;
}

table {
	width: 1000px;
	line-height: 30px;	
	font-size: 20px;
}

tr:nth-child(odd) {
	background-color: #8B008B;
}

tr:nth-child(even) {
	background-color: #8A2BE2;
}

#b1 {
	background-image: url(images/ocean.jpg);  
}

#center {
	width: 200px; 
	padding: 5%;
	margin: auto; 
	text-align: center;
}

#circle {
	margin: 35%;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #DC143C;
	text-align: center;
	line-height: 50px; 
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

#b2 {
	background-image: url(images/forest.jpg); 
}

#input {
	width: 300px; 
	padding: 5%;
	margin: auto; 
	text-align: left;
	font-family: Times, Times New Roman, serif;
}

#contr {
	width: 300;
	text-align: center;
}

#b3 {
	background-image: url(images/night.jpg)
}

#table {
	width: 1000px; 
	padding: 5%;
	margin: auto; 
	text-align: center;
}

#b4 {
	background-image: url(images/space.jpg) 
}
