# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\university\ds\lines_and_ellipses\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
